@model IEnumerable<MVCCommunityAssist.Models.PersonLite>
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName )
            </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email )
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApartmentNumber )
        </th>

        <th>
            @Html.DisplayNameFor(model => model.street  )
        </th>

        <th>
            @Html.DisplayNameFor(model => model.City  )
        </th>

        <th>
            @Html.DisplayNameFor(model => model.state  )
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Zipcode )
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HomePhone )
        </th>

        </tr>

 @foreach (var item in Model)

  {
   <tr>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.ApartmentNumber)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.street)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.state)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Zipcode)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.HomePhone)
    </td>

</tr>

}

    </table>


